assets/wsdl/parlayx_sms_send_interface_4_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- June 25, 2009 -->
<wsdl:definitions
   name="parlayx_sms_send_interface"
   targetNamespace="http://www.csapi.org/wsdl/parlayx/sms/send/v4_0/interface"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:parlayx_sms_send="http://www.csapi.org/wsdl/parlayx/sms/send/v4_0/interface"
   xmlns:parlayx_common_faults="http://www.csapi.org/wsdl/parlayx/common/v4_0/faults"
   xmlns:parlayx_sms_xsd="http://www.csapi.org/schema/parlayx/sms/v4_0"
   xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v4_0"
   xmlns:parlayx_sms_send_local_xsd="http://www.csapi.org/schema/parlayx/sms/send/v4_0/local">

   <wsdl:types>
      <xsd:schema elementFormDefault="qualified">
         <xsd:complexType name="TimeMetric">
            <xsd:sequence>
               <xsd:element name="metric" type="parlayx_common_xsd:TimeMetrics"/>
               <xsd:element name="units" type="xsd:int"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:complexType name="ChargingInformation">
            <xsd:sequence>
               <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="currency" type="xsd:string"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="amount" type="xsd:decimal"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:complexType name="SimpleReference">
            <xsd:sequence>
               <xsd:element name="endpoint" type="xsd:anyURI"/>
               <xsd:element name="interfaceName" type="xsd:string"/>
               <xsd:element name="correlator" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:complexType name="ServiceError">
            <xsd:sequence>
               <xsd:element name="messageId" type="xsd:string"/>
               <xsd:element name="text" type="xsd:string"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="variables" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:complexType name="CallParticipantInformation">
            <xsd:sequence>
               <xsd:element name="callParticipantIdentifier" type="xsd:anyURI"/>
               <xsd:element name="callParticipantStatus" type="parlayx_common_xsd:CallParticipantStatus"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="callParticipantStartTime" type="xsd:dateTime"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="callParticipantDuration" type="xsd:int"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="callParticipantTerminationCause" type="parlayx_common_xsd:CallParticipantTerminationCause"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="mediaInfo" type="parlayx_common_xsd:MediaInfo"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:complexType name="CallSession">
            <xsd:sequence>
               <xsd:element name="callSessionIdentifier" type="xsd:string"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="callParticipantInformation" type="parlayx_common_xsd:CallParticipantInformation"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:complexType name="MediaInfo">
            <xsd:sequence>
               <xsd:element name="media" type="parlayx_common_xsd:Media"/>
               <xsd:element name="mediaDirection" type="parlayx_common_xsd:MediaDirection"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:simpleType name="RetrievalStatus">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="Retrieved"/>
               <xsd:enumeration value="NotRetrieved"/>
               <xsd:enumeration value="Error"/>
            </xsd:restriction>
         </xsd:simpleType>

         <xsd:complexType name="NameValuePair">
            <xsd:sequence>
               <xsd:element name="name" type="xsd:string"/>
               <xsd:element name="value" type="xsd:string"/>
               <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:simpleType name="TimeMetrics">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="Millisecond"/>
               <xsd:enumeration value="Second"/>
               <xsd:enumeration value="Minute"/>
               <xsd:enumeration value="Hour"/>
               <xsd:enumeration value="Day"/>
               <xsd:enumeration value="Week"/>
               <xsd:enumeration value="Month"/>
               <xsd:enumeration value="Year"/>
            </xsd:restriction>
         </xsd:simpleType>

         <xsd:simpleType name="CallParticipantStatus">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="CallParticipantInitial"/>
               <xsd:enumeration value="CallParticipantConnected"/>
               <xsd:enumeration value="CallParticipantTerminated"/>
            </xsd:restriction>
         </xsd:simpleType>

         <xsd:simpleType name="CallParticipantTerminationCause">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="CallParticipantNoAnswer"/>
               <xsd:enumeration value="CallParticipantBusy"/>
               <xsd:enumeration value="CallParticipantNotReachable"/>
               <xsd:enumeration value="CallParticipantHangUp"/>
               <xsd:enumeration value="CallParticipantAborted"/>
            </xsd:restriction>
         </xsd:simpleType>

         <xsd:simpleType name="Media">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="Audio"/>
               <xsd:enumeration value="Video"/>
               <xsd:enumeration value="Chat"/>
               <xsd:enumeration value="Data"/>
            </xsd:restriction>
         </xsd:simpleType>

         <xsd:simpleType name="MediaDirection">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="In"/>
               <xsd:enumeration value="Out"/>
               <xsd:enumeration value="InOut"/>
            </xsd:restriction>
         </xsd:simpleType>

         <xsd:element name="ServiceException" type="parlayx_common_xsd:ServiceException"/>
         <xsd:complexType name="ServiceException">
            <xsd:sequence>
               <xsd:element name="messageId" type="xsd:string"/>
               <xsd:element name="text" type="xsd:string"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="variables" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="PolicyException" type="parlayx_common_xsd:PolicyException"/>
         <xsd:complexType name="PolicyException">
            <xsd:sequence>
               <xsd:element name="messageId" type="xsd:string"/>
               <xsd:element name="text" type="xsd:string"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="variables" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>

      <xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.csapi.org/schema/parlayx/sms/send/v4_0/local">
         <xsd:import namespace="http://www.csapi.org/schema/parlayx/sms/v4_0" schemaLocation="parlayx_sms_types_4_0.xsd"/>
         <xsd:import namespace="http://www.csapi.org/schema/parlayx/common/v4_0" schemaLocation="parlayx_common_types_4_0.xsd"/>

         <xsd:element name="sendSms" type="parlayx_sms_send_local_xsd:sendSms"/>
         <xsd:complexType name="sendSms">
            <xsd:sequence>
               <xsd:element name="addresses" type="xsd:anyURI" minOccurs="1" maxOccurs="unbounded"/>
               <xsd:element name="senderName" type="xsd:string" />
               <xsd:element name="charging" type="parlayx_common_xsd:ChargingInformation" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="message" type="xsd:string"/>
               <xsd:element name="receiptRequest" type="parlayx_common_xsd:SimpleReference" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="sendSmsResponse" type="parlayx_sms_send_local_xsd:sendSmsResponse"/>
         <xsd:complexType name="sendSmsResponse">
            <xsd:sequence>
               <xsd:element name="result" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>

      </xsd:schema>
   </wsdl:types>

   <wsdl:message name="ServiceException">
      <wsdl:part element="parlayx_common_xsd:ServiceException" name="ServiceException"/>
   </wsdl:message>

   <wsdl:message name="PolicyException">
      <wsdl:part element="parlayx_common_xsd:PolicyException" name="PolicyException"/>
   </wsdl:message>

   <wsdl:message name="SendSms_sendSmsRequest">
      <wsdl:part name="parameters" element="parlayx_sms_send_local_xsd:sendSms"/>
   </wsdl:message>

   <wsdl:message name="SendSms_sendSmsResponse">
      <wsdl:part name="result" element="parlayx_sms_send_local_xsd:sendSmsResponse"/>
   </wsdl:message>


   <wsdl:portType name="SendSms">
      <wsdl:operation name="sendSms">
         <wsdl:input message="parlayx_sms_send:SendSms_sendSmsRequest"/>
         <wsdl:output message="parlayx_sms_send:SendSms_sendSmsResponse"/>
         <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
      </wsdl:operation>

   </wsdl:portType>
</wsdl:definitions>
